RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxx
RESEND_FROM_EMAIL=smart@heimlogik.de
CONTACT_EMAIL=smart@heimlogik.de
NEXT_PUBLIC_SITE_URL=https://www.heimlogik.de
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_ID=AW-18159642295
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_LABEL=90bcCKXko6wcELfNmNND
